<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="style2.css">--> 
    <!-- <link rel="stylesheet" href="script2.js">-->
    <!--<script src="script2.js"></script>-->
    <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script>
    $(function (){
    $("#submit").click(function(){
        valid = true;
        if($("#Name").val() == "" )
        {
            $(".ErrMsg").show();
            valid = false;
        }
        if($("#Pnom").val() == "" )
        {
            $(".ErrMsg").show();
            valid = false;
        }
        if($("#Adress").val() == "" )
        {
            $(".ErrMsg").show();
            valid = false;
        }
        if($("#Tel").val() == "" )
        {
            $(".ErrMsg").show();
            valid = false;
        }
        if($("#NombreCmd").val() == "" )
        {
            $(".ErrMsg").show();
            valid = false;
        }
        if($("#Choix").val() == "")
        {
            $(".ErrMsg").show();
            valid = false;
        }
        if($("#Date").val() == "" )
        {
            $(".ErrMsg").show();
            valid = false;
        }
        
        return valid;
        // declaration de variable pour recuperer mes inputs
        // var inputNom = $("#Name").val();
        // var inputNom = $("#Pnom").val();
        // var inputNom = $("#Adress").val();
        // var inputNom = $("#Tel").val();
        // var inputNom = $("#NombreCmd").val();
        // var inputNom = $("#Choix").val();
        // var inputNom = $("#Date").val();
        
    });
});
  </script>
  
  <style>
    /* FORMULAIRE style separé pour plus de clarté */

h2
{
    text-align: center;
    background: red;
    color: white;
    font-family: 'Limelight',Arial, Helvetica, sans-serif;
    margin-left: 310px;
    margin-right: 310px;
    border-radius: 7px;
    margin-bottom: 2em;
    padding: 5px;
    text-shadow: 1px 1px 1px rgb(129, 126, 126);
}
body
{
    background: url("image/background.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-repeat: repeat;
  color: white;
  
}
body .container
{
  /*  margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
    border: 1px solid black;*/
}
body .container .form-group
{
    margin-left: 400px;
    margin-right: 300px;
    padding: 20px;
    border: 1px solid rgb(250, 250, 250);
    text-align: center;
    font-weight: bold;
    border-radius: 7px;
    background:rgb(209, 10, 10);
    color:black;
    box-shadow: 1px 1px 1px 1px white;
}
body .container .form-group .ErrMsg
{
    color: yellow;
    display: none;
}
body .container .form-group input[type='text']
{
    border-radius: 7px;
    text-align: center;
    height: 2em;
}
body .container .form-group input[type='tel']
{
    border-radius: 7px;
    text-align: center;
    height: 2em;
}
body .container .form-group input[type='submit']
{
    border-radius: 6px;
    width: 189px;
    background: rgb(15, 179, 15);
    color: white;
    margin-top: 20px;
}
body .container .form-group input[type='submit']:hover
{
    background: cyan;
    
}

footer
{
    background: black;
    z-index: 1;
    border: 1px solid white;
    border-radius: 6px;
}

footer .adresse
{
    float: left;
    margin-left: 100px;
    z-index: 2;
    position: relative;
    background: rgb(41, 32, 32);
    padding: 8px;
    border-radius: 6px;
    margin-top: 10px
}
footer .adresse h4
{
    text-align: center;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}
footer .contact h4
{
    text-align: center;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}
footer .contact
{
    float: right;
    margin-right: 100px;
    z-index: 2;
    position: relative;
    background: rgb(41, 32, 32);
    padding: 8px;
    border-radius: 6px;
    margin-top: 10px;
}
footer .contact p a
{
    color: white;
    text-decoration: none;
}







  </style>
    <title>formulaire_commande</title>
</head>
<body>
  <h2>RESTAURANT BURGER-ELIE ABIDJAN</h2>
  <div class="container">
    <div class="form-group">
      <form action="/demande" method="POST">
      <input type="text" id="Name" name="nom" required placeholder="Entrez votre nom ici"><br>
      <p class="ErrMsg">vous devez remplir tous les champs</p><br>
      <input type="text" id="Pnom" name="prenom" required placeholder="Entrez votre prenom ici"><br>
      <p class="ErrMsg">vous devez remplir tous les champs</p><br>
      <input type="text" id="Adress" name="adresse" required placeholder="Entrez votre adresse ici "><br>
      <p class="ErrMsg">vous devez remplir tous les champs</p><br>
      <input type="tel" id="Tel" name="telephone" required placeholder="Entrer votre numero ici"><br>
      <p class="ErrMsg">vous devez remplir tous les champs</p><br>
      <input type="text" id="NombreCmd" name="quantite" required placeholder="Quantite desirée"><br>
      <p class="ErrMsg">vous devez remplir tous les champs</p><br>
      <input type="text" id="Choix" name="choix" required placeholder="Choix separé par virgule"><br>
      <p class="ErrMsg">vous devez remplir tous les champs</p><br>
      <input type="text" id="Date" name="date" placeholder="jj/mm/aaaa" required><br>
      <p class="ErrMsg">vous devez remplir tous les champs</p><br>
      <input type="submit" id="submit" value="ENVOYER">
    </form>  
    </div>
  </div>
  <footer>
    <div class="adresse">
        <h4>NOS RESTAURANTS</h4>
        <p><span class="glyphicon glyphicon-map-marker" style="color:red"></span> Abidjan zone 4C bietry rue Nodejs</p>
        <p><span class="glyphicon glyphicon-map-marker"  style="color:red"></span> Abidjan Port Bouet  Avenue PHP</p>
        <p><span class="glyphicon glyphicon-map-marker"  style="color:red"></span> Abidjan Plateaux rue Angularjs  </p>
        <br><br>
    </div>
    <div class="contact">

            <h4>NOS CONTACT</h4>
            <p><span class="glyphicon glyphicon-earphone"></span> +225 21856314 </p>
            <p><span class="glyphicon glyphicon-earphone"></span> +225 21854485 </p>
            <p><span class="glyphicon glyphicon-envelope"></span> elie-burger@gmail.com </p>
            <p><a href="#"><span class="glyphicon glyphicon-globe"></span> www.elie-burger.ci</a> </p>
            <br>
    </div>
</footer>
    
</body>
</html>